/* Configure font */
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Medium.woff2') format('woff2'),
         url('fonts/Satoshi-Medium.woff') format('woff'),
         url('fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

/* Enables light and dark mode */
:root {
    color-scheme: light dark;
}

/* Background color and image */
.pf-c-page__drawer {
    background-color: light-dark(#FFF, #1E1E1E);
    background-image: var(--ak-flow-background);
    background-size: cover;
}

/* Main login box */
.pf-c-login__main {
    border: none;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0px 2px 6px 0px #00000033;
    max-width: 325px;
    background-color: light-dark(#FFF, #2C2C2C);
    align-self: center;
}

/* Center main login box vertically */
.ak-login-container {
    justify-content: center;
}
.pf-c-login__footer {
    display: none;
}

/* ScottyLabs logo spacing */
.pf-c-login__main-header {
    padding: 72px 48px 16px;
}

/*** Welcome text ***/
header.pf-c-login__main-header {
    padding: 20px 32px 6px 32px;
}
.pf-c-title.pf-m-3xl {
    font-size: 3rem;
    font-weight: 600;
    font-family: Satoshi, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: light-dark(#000, #FFF);
}

/*** Email form section ***/
/* No padding on the login with email section */
.pf-c-login__main.pf-c-login__main-body {
    padding: 0;
}

/* Email input box */
.pf-c-form__group {
    color: light-dark(#000, #FFF);
    padding-bottom: 0px;
    padding-top: 12px;
}
.pf-c-form-control {
    border: gray;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    padding: 0px;
    box-shadow: 0px 2px 6px 0px #00000033;
    background-color: light-dark(#FFF, #2C2C2C);
    padding-left: 12px;
    height: 24px;
    color: white;
}

/* Email input label */
.pf-c-form__label-text {
    color: light-dark(#000, #FFF);
}

/* Footer buttons */
.pf-c-login__main-footer-links {
    padding: 0px 16px 40px 16px;
}
.pf-c-login__main-footer-links-item {
    border: none;
    border-radius: 50px;
    color: light-dark(#000, #FFF);
    background: light-dark(#FFF, #1E1E1E);
    box-shadow: 0px 2px 6px 0px #00000033;
    padding: 12px 4px 4px 4px;
    justify-content: center;
    display: flex;
    width: 90%;
    min-height: 48px;
}

/*** Login button ***/
/* Login button */
.pf-c-button.pf-m-block {
    border: none;
    border-radius: 50px;
    padding: 0px;
    box-shadow: 0px 2px 6px 0px #00000033;
    color: light-dark(#000, #E0E0E0);
    background: light-dark(#FFF, #1E1E1E);
    min-height: 48px;
}
.pf-c-form__group.pf-m-action {
    overflow: visible;
}
.pf-c-login__main-body {
    padding: 0px 16px 0px 16px;
}
.pf-c-form {
    padding: 0px 16px 16px;
    display: block;
}

/* Login button hover */
.pf-c-button.pf-m-block:hover {
    box-shadow: 0px 0px 2px 2px #0E96D199;
    color: #0E96D1;
}

/*** Google login button ***/
/* Center the logo and text in the button */
.pf-c-button.pf-m-link {
    align-items: center;
    color: light-dark(#000, #FFF);
}
.pf-c-button.pf-m-link:hover {
    color: #9B7FDB;
}
.pf-c-button__icon.pf-m-start {
    display: flex;
}

/* Invert the Google icon in dark mode */
.pf-c-login__main-footer-links-item img, .pf-c-login__main-footer-links-item .fas
{
    filter: light-dark(invert(0), invert(1));
}

/* Google logo spacing */
.pf-c-button__icon.pf-m-start {
    margin-right: 6px;
}

/* Google login button hover */
.pf-c-login__main-footer-links-item:hover {
    box-shadow: 0px 0px 2px 2px #9B7FDB99;
}
