

/*  set var var(--ak-dark-foreground) to #000 */
:root {
    --ak-dark-foreground: #000;
    --ak-dark-background: #FFF;
    --ak-light-foreground: #FFF;
    --ak-light-background: #2C2C2C;
    --ak-light-primary: #1E1E1E;
    --ak-light-secondary: #2C2C2C;
    --ak-light-tertiary: #3C3C3C;
    --ak-light-accent: #9B7FDB;
    --ak-light-accent-secondary: #0E96D1;
    --ak-light-accent-tertiary: #E0E0E0;
}

.pf-c-login__main-footer-links-item img, .pf-c-login__main-footer-links-item .fas
{
    filter: invert(0);
}

.pf-c-form__group.pf-m-action {
    margin-top: 6px;
}

.pf-c-login__main {
    border: none;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0px 2px 6px 0px #00000033;
    max-width: 325px;
    background-color: light-dark(#FFF, #2C2C2C);
    position: relative;
    align-self: center;
}

.pf-c-page__drawer {
    background-color: light-dark(#FFF, #1E1E1E);
}

/* .pf-c-list.pf-m-inline {
    display: none;
} */

/* .pf-c-background-image {
    display: none;
} */

.pf-c-login__main.pf-c-login__main-body {
    padding: 0;
}

.pf-c-title {
    color: light-dark(#000, #FFF);
}

.pf-c-form__group {
    color: light-dark(#000, #FFF);
    padding-bottom: 0px;
}

.pf-c-form-control {
    border: none;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0px 2px 6px 0px #00000033;
    background-color: light-dark(#FFF, #2C2C2C);
    padding-left: 12px;
    height: 24px;
}

.pf-c-button.pf-m-block {
    border: none;
    border-radius: 50px;
    padding: 0px;
    box-shadow: 0px 2px 6px 0px #00000033;
    color: light-dark(#000, #E0E0E0);
    background: light-dark(#FFF, #1E1E1E);
    min-height: 48px;
}
.pf-c-button.pf-m-block:hover {
    box-shadow: 0px 0px 2px 2px #0E96D199;
}

.pf-c-login__main-footer-links-item {
    border: none;
    border-radius: 50px;
    color: light-dark(#000, #FFF);
    background: light-dark(#FFF, #1E1E1E);
    box-shadow: 0px 2px 6px 0px #00000033;
    padding-top: 12px;
}
.pf-c-login__main-footer-links-item:hover {
    box-shadow: 0px 0px 2px 2px #9B7FDB99;
}
.pf-c-form__label-text {
    color: light-dark(#000, #FFF);
}

.pf-c-button.pf-m-link {
    align-items: center;
}

/*** Google button ***/
.pf-c-button__icon.pf-m-start {
    display: flex;
}
.pf-c-login__main-footer-links {
    padding: 0px 16px 40px 16px;
}

.pf-c-login__main-footer-links-item {
    padding: 4px;
    justify-content: center;
    display: flex;
    width: 90%;
}

/* google logo spacing */
.pf-c-button__icon.pf-m-start {
    margin-right: 6px;
}

/*** Login button ***/
.pf-c-form__group.pf-m-action {
    overflow: visible;
}
.pf-c-login__main-body {
    padding: 0px 16px 16px;
}
.pf-c-form {
    padding: 0px 16px 16px;
}